@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto+Slab:wght@100..900&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    background-color: rgba(27, 27, 27);
    color: white;
    font-family: "Sansita", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.para {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.para1 {
   font-family: "JetBrains Mono", monospace !important;
   font-optical-sizing: auto;
   font-weight: 200;
   font-style: normal;
}

body {
    overflow-x: hidden;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll var(--animation-duration) linear infinite var(--animation-direction);
}

/* Example: Apply overflow-y: hidden to specific components */
.specific-component {
    overflow-y: hidden;
}

.black-background {
    background-color: black;
}

.tgb {
    border: 2px solid white;
}

.tgb-red {
    border: 2px solid red;
}

.tgb-green {
    border: 2px solid green;
}

.text-blue {
    background-color: transparent;
}

.bg-black-1 {
    background-color: rgb(9, 9, 9);
}

.border-button {
   border: 2px solid rgba(0, 125, 255, 0.75);
}

.lora-small {
   font-family: "Lora", serif;
   font-optical-sizing: auto;
   font-weight: 150;
   font-style: normal;
 }
